.btn-custom {
    background-color: #e665a2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;

    &:hover {
        background-color: #f50400;
    }
}